.containerInfoLogin {
    display: grid;
    justify-items: center;
}

.styleHello {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0px;
    margin-bottom: 0em;
    font-family: 'Montserrat', sans-serif;
    color: #242422;
}

.styleImgLogin {
    border-radius: 15px;
    box-shadow: 2px 6px 9px #242422;
}