.containerInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 8em
}

.containerInfoLogin {
    display: grid;
    justify-items: center;
    margin-top: 6em;
}

.styleHello {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0px;
    margin-bottom: 0em;
    font-family: 'Montserrat', sans-serif;
    color: #242422;
}

.styleIngresa {
    font-size: 16px;
    color: #EE2B7B;
    text-align: center;
    font-weight: 700;
    margin-bottom: 2em;
}

.styleImgLogin {
    border-radius: 15px;
    box-shadow: 2px 6px 9px #242422;
}
